@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&family=Work+Sans:wght@700&display=swap');

* {
    margin: 0 auto;
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {background-color: black;
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-image:url(assets/read_news.jpg);
    background-attachment: fixed;
    
}

#logo{
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
}

.title {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 28px;
    
    color: var(--title-color);

    position: absolute;
    width: 398px ;
    width: 566px;
    height: 30px;
    left: 35px;
    top: 235px;
}

.sub-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color:white;

    position: absolute;
    width: 550px;
    height: 16px;
    left: 35px;
    top: 275px;
}

.contents {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: var(--text-color);

    position: absolute;
    width: 680px;
    height: 18px;
    left: 35px;
    top: 305px;
}

.e-form {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: var(--form-color);

    position: absolute;
    width: 140px;
    height: 18px;
    left: 35px;
    top: 400px;
}

.box-email {
    position: absolute;
    width: 750px;
    height: 42px;
    left: 39px;
    top: 428px;
}

.botao {
    background-image: url(./assets/send.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-button-color);
    text-decoration: none;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    position: absolute;
    width: 48px;
    height: 48px;
    left: 797px;
    top: 428px
}

button:hover {
    background-color: rgba(128, 0, 128, 0.692);
    color: rebeccapurple;

}

.green {
    position: absolute;
    width: 5px;
    height: 48px;
    left: 36px;
    top: 428px;
    color: #04D361;
    background: #04D361;
}

.rodape {
    font-family: 'Spartan';
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    color: var(--bg-button-color);

    position: absolute;
    width: 250px;
    height: 19px;
    left: 35px;
    top: 520px
}

a {
    text-decoration: none;
}

footer a::after{
    content: ' 🔗';
}